<div class="fixed-action-btn" style="bottom: 30px; right: 30px; position: fixed;">
  <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>